# Environment variables
.env

# Python cache / build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
venv/
env/
myenv/

# VS Code
.vscode/

# Flask / instance configs
instance/
*.sqlite

# OS files
.DS_Store
Thumbs.db
node_modules

trainCNN/dataset/
convert.py

disease_detection_model.h5

convnext_tiny_cassava_model.h5